html
    head 
        link(rel='stylesheet', href='/assets/css/index.css')
        link(rel='stylesheet', href='/assets/jquery-ui-1.13.2/jquery-ui.css')
        script(src='/assets/js/jquery.min.js')
        script(src='/assets/js/function.js')
        script(src='/assets/js/jquery.mark.min.js')
        script(src='/assets/js/jquery.quicksearch.min.js')
        script(src='/assets/jquery-ui-1.13.2/jquery-ui.min.js')
    body
        include /index.html