body{
    background-image: url("/assets/img/bitmap.png");
    background-repeat:no-repeat;
    width:799px;
    height:1034px;
    overflow-x:hidden;
    overflow-y:hidden;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}
#certificateText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
}
#registrant{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
}
#certifyText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 8pt;
    padding-left:120px;
    padding-right:120px;

}
#validText{
    clear:both;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 8pt;
    padding-left:120px;
}

#mainCertificate{
    text-align: center;
}
#details,#record{
    text-align: center;
    margin-left:60px;
    padding-left:60px;
    padding-right:60px;
}

#details>tbody>tr>td:nth-child(1),#record>tbody>tr>td:nth-child(1){
    text-align: left;
    padding-bottom:10px;
}

#details>tbody>tr>td:nth-child(2),#record>tbody>tr>td:nth-child(2){
    text-align: left;
    padding-bottom:10px;
}

#signature{
    width:200px;
    float:right;
    margin-right:160px;
}

.float-container {
    padding: 20px;
}

.float-child1 {
    width: 37%;
    float: left;
    padding-top: 20px;
    text-align: right;
} 
.float-child2 {
    width: 35%;
    float: left;
    padding: 0px;
}  